<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Upload</title>
  <link rel='stylesheet' href = "https://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" />
  <link rel='stylesheet' href = "style.css" />
</head>
<body>
  <h1>Data Upload</h1>
  <div id ="message"></div>
  <div id="content"><!--html output from templates will go here--></div>
  <script id="layout-template" type="text/template">
    <div id = "form"></div>
    <div id = 'output'>
      <h2>Recent Entries</h2>
      <div id = "saved-data"></div>
    </div>
  </script>
  <script id="form-template" type="text/template">
    <form>
      <div class='fieldwrapper'>
        <label>Measurement of:</label>
        <select name="sensor_name"><option value = ''> -- </option><option value='foo'>foo</option></select>
      </div>
      <div class='fieldwrapper'>
        <label>Date:</label>
        <input readonly type=text name="reading_date" value="<%= moment().format('D MMM YYYY') %>">
      </div>
      <div class='fieldwrapper'>
        <label>Time (24 hour clock):</label>
        <input class='time' type=text name="reading_hours" maxlength='2'>
        :
        <input class='time' type=text name="reading_minutes" maxlength='2'>
     </div>
      <div class='fieldwrapper'>
        <label>Value:</label><input type=text name="reading_value">
      </div>
      <div class='fieldwrapper'>
        <input type=submit>
      </div>
    </form>
  </script>
  <script id="saved-data-template" type="text/template">
   <td class='data'><%= sensor_name %></td>
   <td class='data'><%= moment(reading_time).format('D MMM YYYY HH:mm') %></td>
   <td class='data'><%= reading_value %></td>
   <td><button class="delete">Delete</button></td> 
  </script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.4.1/backbone.marionette.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
