#message {
  height: 100px;
  overflow: hidden;
}

#form, #saved-data {
  float: left;
  margin-left: 100px;
  border: 1px solid gray;
  background-color: lightgray;
}

#form div.fieldwrapper {
  padding: 10px;
  height: 60px;
}

input {
  padding: 5px;
}

input[type=submit] {
  margin-top: 10px;
}
input.time {
  width: 20px;
}

.success {
  background-color: green;
}

#message.error {
  background-color: red;
}

label {
  display: block;
  padding: 5px;
}

label.error {
  color: red;
  font-size: 0.8em;
}
