#message {
  height: 80px;
  overflow: hidden;
}

#form, #saved-data {
  margin-top: 20px;
  float: left;
  min-width: 200px;
  padding: 40px;
  margin-left: 5%;
  border: 1px solid gray;
  background-color: lightgray;
}

#form {
  width: 25%;
}

#saved-data {
  width: 50%;
}

table: {
   background-color: white;
}

tr {
  padding: 5px;
}

#saved-data tr:nth-child(odd) {
  background-color: #ededed;
}

#saved-data tr:nth-child(even) {
  background-color: #e4f1fb;
}

td.data {
  padding: 7px;
  width: 25%;
}

td {
  width: 10%;
  text-align: center;
}

button.delete {
  color: blue;
}

#form div.fieldwrapper {
  padding: 10px;
  height: 60px;
}

input {
  padding: 5px;
}

input[type=submit] {
  margin-top: 10px;
  color: blue;
}
input.time {
  width: 20px;
}

#message {
  text-align: center;
  font-size: 3em;
}

.success {
  color: green;
}

.error {
  color: red;
}

label {
  display: block;
  padding: 5px;
}

label.error {
  font-size: 0.8em;
}
